*{
	box-sizing: border-box; 
}

body{
	margin: 0px;
	font-family: sans-serif;
}

section{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

header{
	background-color: #99cccc;
	color: white; 
	padding-top: 30px;
	padding-bottom: 30px;
}

nav{
	width: 100%;
	height: 60px;
	background-color: #336666;
}

nav a, nav h3{
	float: left;
	margin: 0px;
	line-height: 60px;
	margin-left: 1em;
	margin-right: 1em;
	text-decoration: none;
	color: white;
	font-family: Georgia;
	font-size: 17px;
	font-weight: bold;
}

nav a:hover{
	text-decoration: underline; 
}



/* Simple grid */
.g-row{
	width: 100%;
	overflow: hidden;
}

.g-row img{
	width: 100%; 
}

.g-50{
	width: 50%;
	float: left;
}

.g-30{
	width: 30%;
	float: left;
}

.g-70{
	width: 70%;
	float: left;
}


.show{
	border: 1px solid blue;
	padding: 2px;
}

.padded{
	padding: 20px; 
}



.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

h2 {
font-size: 60px;
font-family: Georgia;
text-align: center;
color: #020266;
font-weight: bold;
}

body {
background-color: #cae8e7;
}

h6 {
font-size: 20px;
font-family: Lucida Console;
text-align: center;
color: white;
}

p {
font-size: 16px;
font-family: Courier;
}

h4 {
font-size: 20px;
font-family: Lucida Console;
color: #eaeaef;
}

h1 {
font-size: 32px;
font-family: Georgia;
color: #020266;
}

h3 {
font-size: 25px;
font-family: Georgia;
color: #020266;
font-weight: bold;
}

.modem {
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.modem1 {
   display: none
}

span:hover + img{
   display: block;
}


.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; 
  top: 0; 
  width: 100%; 
}

.main {
  margin-top: 120px; 
}
